.auctioneer-container {
    height: 800px;
    width: 650px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid black;
    line-height: 1;
}

.auctioneer-container h1, .auctioneer-container h4, .auctioneer-container h5, .auctioneer-container p {
    margin: 0;
}

.auctioneer-container p {
    margin-left: 10px;
    color: blue;
}

.auctioneer-container h5 {
    font-weight: bold;
}

div[class^="col-md-"], div[class*=" col-md-"] {
    border: 1px dotted lightgrey;
    margin: 0;
    padding: 0;
}

.auctioneer-container .row {
    padding: 0;
    margin: 0;
}

.top-heading {
    background-color: red;
    color: black;
    text-align: center;
    border: 1px solid black;
}

.top-heading div[class^="col-md-"], div[class*=" col-md-"] {
    background-color: red;
    border: 1px solid black;
}

.sub-heading {
    text-align: center;
    border: 1px solid black;
    color: black;
}

.sub-heading div[class^="col-md-"], div[class*=" col-md-"] {
    border: 1px solid black;
    margin: 0;
    background-color: grey;
}

.lot-num-box {
    text-align: center;
}

.lot-num-title {
    line-height: 1;
    border: 1px solid black;
    background-color: grey;
}

.lot-num {
    background-color: lightgrey;
}

.lot-num h1 {
    font-size: 75px;
}

.yield-content {
    text-align: center;
}

.rules-div p {
    font-weight: bold;
    color: red;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-1 {
    width: 8.33333333%;
}

.lease_detail p {
    font-weight: bold;
    color: red;
}

.marker {
    background-color: yellow;
}

@media print {

    @page {
        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    .auctioneer-container {
        height: 800px;
        width: 650px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 1px solid black;
        line-height: 1;
    }

    .auctioneer-container h1, .auctioneer-container h4, .auctioneer-container h5, .auctioneer-container p {
        margin: 0;
    }

    .auctioneer-container p {
        margin-left: 10px;
        color: blue;
    }

    .auctioneer-container h5 {
        font-weight: bold;
    }

    div[class^="col-md-"], div[class*=" col-md-"] {
        border: 1px dotted lightgrey;
        margin: 0;
        padding: 0;
    }

    .auctioneer-container .row {
        padding: 0;
        margin: 0;
    }

    .top-heading {
        background-color: red;
        color: black;
        text-align: center;
        border: 1px solid black;
    }

    .top-heading div[class^="col-md-"], div[class*=" col-md-"] {
        background-color: red;
        border: 1px solid black;
    }

    .sub-heading {
        text-align: center;
        border: 1px solid black;
        color: black;
    }

    .sub-heading div[class^="col-md-"], div[class*=" col-md-"] {
        border: 1px solid black;
        margin: 0;
        background-color: grey;
    }

    .lot-num-box {
        text-align: center;
    }

    .lot-num-title {
        line-height: 1;
        border: 1px solid black;
        background-color: grey;
    }

    .lot-num {
        background-color: lightgrey;
    }

    .lot-num h1 {
        font-size: 75px;
    }

    .yield-content {
        text-align: center;
    }

    .rules-div p {
        font-weight: bold;
        color: red;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .lease_detail p {
        font-weight: bold;
        color: red;
    }

    .marker {
        background-color: yellow;
    }
}