/*Brochure styling*/
.container-brochure {
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

.brochure-lead-image {
    min-height: 40%;
    background-size: 100% 340px;
    background-repeat: no-repeat;
    padding: 10px;
}

.wesell-logo-block {
    background-color: white;
    height: 80px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: auto;
    padding: 2px 5px;
    width: 26%;
}

.wesell-logo-block img {
    float: left;
}

.catch-line {
    position: relative;
    float: left;
    margin-top: 44%;
    background-color: rgb(255, 76, 0);
    opacity: 0.76;
    border-radius: 2px;
    margin-left: 4px;
    text-align: center;
    height: 34px;
    width: 62%;
    padding-top: 2px;
}

.brochure-lead-image h1 {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.brochure-lead-image h1.strong {
    font-weight: 700;
}

.brochure-price {
    background-color: rgb(80, 90, 96);
    border-radius: 2px;
    float: right;
    height: 34px;
    margin-right: 4px;
    margin-top: 44%;
    opacity: 0.76;
    position: relative;
    text-align: center;
    width: 35%;
    padding-top: 2px;
}

.brochure-address {
    position: relative;
    float: left;
    background-color: rgb(255, 76, 0);
    opacity: 0.76;
    border-radius: 2px;
    margin-left: 4px;
    margin-top: 6px;
    width: 99%;
    text-align: center;
    height: 34px;
    padding-top: 2px;
}

.brochure-images {
    min-height: 14%;
    padding: 1px 1px 0 4px;
}

.brochure-images img {
    min-height: 20%;
    width: 32.3333%;
    float: left;
    margin: 1px 2px;

}

.brochure-property-details {
    position: relative;
    padding: 0 0 5px 15px;
}

.brochure-property-details p {
    line-height: 1.2;
}

.brochure-more-info {
    background-color: rgb(255, 76, 0);
    border-radius: 2px;
    margin-left: 15px;
    padding-top: 2px;
    margin-bottom: 3px;
    width: 95%;
    text-align: center;
    height: 34px;
}

.brochure-more-info h4 {
    color: #fff;
    text-align: center;
}

.brochure-representative {
    background-color: rgb(80, 90, 96);
    min-height: 14%;
    padding: 8px;
    margin-left: 15px;
    width: 95%;
}

.brochure-representative h4 {
    color: #fff;
    text-align: left;

}

.agent-icon {
    float: left;
    max-width: 38px;
    height: auto;
    margin-left: 20px;
    margin-top: 5px;
}

.brochure-rep-title {
    margin-top: 18px;
    margin-left: 20px;
    max-width: 80%
}

.brochure-rep-text {
    margin-top: 10px;
    float: left;
    margin-left: 4px;
}

.envelope {
    float: left;
    max-width: 38px;
    height: auto;
    margin-top: 5px;
    margin-left: 4px;
}

.brochure-rep-image {
    float: right;
    max-width: 75px;
    height: auto;
    background-color: rgb(80, 90, 96);
    margin-top: -42px;
}

.brochure-foot {
    padding: 15px;
}

.brochure-foot h4, .brochure-foot img {
    float: right;
}

.brochure-foot img {
    max-height: 48px;
    width: auto;
}

.brochure-foot h4 {
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 10px;
}

.brochure-triangle img {
    margin-top: -30px;
    margin-left: 80px;
    max-height: 48px;
    width: auto;
}


.brochure-catch-line {
    float: right;
    padding: 20px;
}

@media print {

    @page
    {
        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    .container-brochure {
        height: 880px;
        width: 670px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        padding: 0.2in 0.4in;
    }

    .brochure-lead-image {
        min-height: 40%;
        background-size: 100% 340px;
        background-repeat: no-repeat;
        padding: 10px;
    }

    .wesell-logo-block {
        background-color: white;
        height: 80px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: auto;
        padding: 2px 5px;
        width: 26%;
    }

    .wesell-logo-block img {
        float: left;
    }

    .catch-line {
        position: relative;
        float: left;
        margin-top: 44%;
        background-color: rgb(255, 76, 0) !important;
        opacity: 0.76;
        border-radius: 2px;
        margin-left: 4px;
        text-align: center;
        height: 34px;
        width: 62%;
        padding-top: 2px;
    }

    .brochure-lead-image h1 {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff !important;
    }

    .brochure-lead-image h1.strong {
        font-weight: 700;
    }

    .brochure-price {
        background-color: rgb(80, 90, 96) !important;
        border-radius: 2px;
        float: right;
        height: 34px;
        margin-right: 4px;
        margin-top: 44%;
        opacity: 0.76;
        position: relative;
        text-align: center;
        width: 35%;
        padding-top: 2px;
    }

    .brochure-address {
        position: relative;
        float: left;
        background-color: rgb(255, 76, 0) !important;
        opacity: 0.76;
        border-radius: 2px;
        margin-left: 4px;
        margin-top: 6px;
        width: 99%;
        text-align: center;
        height: 34px;
        padding-top: 2px;
    }

    .brochure-images {
        min-height: 14%;
        padding: 1px 1px 0 4px;
    }

    .brochure-images img {
        min-height: 20%;
        width: 32.3333%;
        float: left;
        margin: 1px 2px;

    }

    .brochure-property-details {
        position: relative;
        padding: 0 0 5px 15px;
    }

    .brochure-property-details p {
        line-height: 1.1;
    }


    .brochure-more-info {
        background-color: rgb(255, 76, 0) !important;
        border-radius: 2px;
        margin-left: 15px;
        padding-top: 2px;
        margin-bottom: 3px;
        width: 95%;
        text-align: center;
        height: 34px;
    }

    .brochure-more-info h4 {
        color: #fff !important;
        text-align: center;
    }

    .brochure-representative {
        background-color: rgb(80, 90, 96) !important;
        min-height: 14%;
        padding: 8px;
        margin-left: 15px;
        width: 95%;
    }

    .brochure-representative h4 {
        color: #fff !important;
        text-align: left;

    }

    .agent-icon {
        float: left;
        max-width: 38px;
        height: auto;
        margin-left: 20px;
        margin-top: 5px;
    }

    .brochure-rep-title {
        margin-top: 18px;
        margin-left: 20px;
        max-width: 80%
    }

    .brochure-rep-text {
        margin-top: 10px;
        float: left;
        margin-left: 4px;
    }

    .envelope {
        float: left;
        max-width: 38px;
        height: auto;
        margin-top: 5px;
        margin-left: 4px;
    }

    .brochure-rep-image {
        float: right;
        max-width: 75px;
        height: auto;
        background-color: rgb(80, 90, 96) !important;
        margin-top: -42px;
    }

    .brochure-foot {
        padding: 15px;
    }

    .brochure-foot h4, .brochure-foot img {
        float: right;
    }

    .brochure-foot img {
        max-height: 48px;
        width: auto;
    }

    .brochure-foot h4 {
        font-size: 20px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: 10px;
    }

    .brochure-triangle img {
        margin-top: -30px;
        margin-left: 80px;
        max-height: 48px;
        width: auto;
    }

    .brochure-catch-line {
        float: right;
        padding: 20px;
    }
}