.checklist-container {
    height: 1800px;
    width: 780px !important;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.checklist-container p {
    margin: 4px 0 1px;
}

.propertyfile-logo {
    width: 30%;
    margin-right: 0;
    float: left;
    height: auto;
}

.file-number-label {
    float: right;
    margin-top: 70px;
    margin-right: -20px;
}

.file-number-block {
    margin-top: 30px;
    border: solid 1px black;
    float: right;
    width: 90px;
    height: 160px;
    padding: 10px
}

.company-info {
    clear: both;
    width: 50%;
    margin-left: 0;
}

.info-text {
    position: absolute;
    margin-top: -35px;
}

.company-info p {
    font-size: 8px;
    line-height: 5px;
    padding-bottom: 1px;
}

.checklist-content {
    padding-top: 35px;
    width: 100%;
}

.auction-file-no-box-title {
    float: left;
    width: 30%;
    background-color: black;
    color: white;
    padding: 2px 5px;
    height: 40px;
}

.auction-file-no-box {
    border: black solid 2px;
    width: 24%;
    float: left;
    height: 40px;
}

.web-ref-box {
    border: black solid 2px;
    width: 22%;
    float: right;
    height: 40px;
}

.web-ref-box-title {
    float: right;
    width: 20%;
    background-color: black;
    color: white;
    padding: 2px 5px;
    height: 40px;
}

.matter-title {
    float: left;
    width: 20%;
    background-color: black;
    color: white;
    padding: 2px 5px;
    margin-top: 5px;
    margin-bottom: 8px;
    height: 40px;
}

.matter-box {
    padding-top: 3px;
    margin-top: 5px;
    border: black solid 2px;
    width: 80%;
    float: left;
    height: 40px;
    margin-bottom: 8px;
}

.form-content {
    clear: both;
}

.form-content h3 {
    color: #F04F23;
    padding: 0 !important;
    margin: 0 !important;
}

.form-content p {
    padding-left: 10px;
}

.left-label {
    color: black;
    font-size: 15px;
    float: left;
    margin-right: 0;
    width: 10%;
}

.left-text {
    float: left;
    width: 50%;
    height: 15px;
}

.right-label {
    color: black;
    font-size: 15px;
    float: left;
    width: 5%;
    padding-left: 2px;
}

.right-text {
    float: left;
    width: 35%;
    height: 15px;
}

.full-line-text {
    float: left;
    width: 100%;
    height: 15px;
    margin-bottom: 4px;
}

.left-label-2 {
    color: black;
    font-size: 15px;
    float: left;
    margin-right: 0;
    width: 30%;
}

.left-text-2 {
    float: left;
    width: 30%;
    height: 15px;
}

.right-label-2 {
    color: black;
    font-size: 15px;
    float: left;
    width: 20%;
    padding-left: 2px;
}

.right-text-2 {
    float: left;
    width: 20%;
    height: 15px;
}

.right-box {
    border: 2px solid black;
    float: left;
    width: 30%;
    height: 45px;
    margin-left: 10px;
}

.left-label-full {
    color: black;
    font-size: 15px;
    float: left;
    width: auto;
    padding-left: 2px;
}

.left-text-full {
    float: left;
    width: auto;
    height: 15px;
}

.next-page {
    height: 200px;
}

.row {
    border-bottom: 1px dotted darkgray;
    width: 100%;
    margin: 0 !important;
}

.page-two .row {
    height: 20px;
}

.page-two h5 {
    font-weight: bold;
    font-size: 12px;
    margin: 2px !important;
    padding: 0 !important;
}

.page-two h5 span, .page-two p {
    font-weight: bold;
    font-size: 10px;
}

.one-fourth {
    width: 25%;
    float: left;
    height: 20px;
}

.one-third {
    width: 33%;
    float: left;
    height: 20px;
}

.one-half {
    width: 50%;
    float: left;
    height: 20px;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);

}

.property-check-tick {
    color: limegreen;
    margin-right: 0;
}

.property-check-cross {
    color: red;
    margin-right: 0;
}

@media print {

    @page {
        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    .checklist-container {
        height: 1800px;
        width: 780px !important;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }

    .checklist-container p {
        margin: 4px 0 1px;
    }

    .propertyfile-logo {
        width: 30%;
        margin-right: 0;
        float: left;
        height: auto;
    }

    .file-number-label {
        float: right;
        margin-top: 70px;
        margin-right: -20px;
    }

    .file-number-block {
        margin-top: 30px;
        border: solid 1px black;
        float: right;
        width: 90px;
        height: 160px;
        padding: 10px
    }

    .company-info {
        clear: both;
        width: 50%;
        margin-left: 0;
    }

    .info-text {
        position: absolute;
        margin-top: -35px;
    }

    .company-info p {
        font-size: 8px;
        line-height: 5px;
    }

    .checklist-content {
        padding-top: 35px;
        width: 100%;
    }

    .auction-file-no-box-title {
        float: left;
        width: 30%;
        background-color: black;
        color: white;
        padding: 2px 5px;
        height: 40px;
    }

    .auction-file-no-box {
        border: black solid 2px;
        width: 24%;
        float: left;
        height: 40px;
    }

    .web-ref-box {
        border: black solid 2px;
        width: 22%;
        float: right;
        height: 40px;
    }

    .web-ref-box-title {
        float: right;
        width: 20%;
        background-color: black;
        color: white;
        padding: 2px 5px;
        height: 40px;
    }

    .matter-title {
        float: left;
        width: 20%;
        background-color: black;
        color: white;
        padding: 2px 5px;
        margin-top: 5px;
        margin-bottom: 8px;
        height: 40px;
    }

    .matter-box {
        padding-top: 3px;
        margin-top: 5px;
        border: black solid 2px;
        width: 80%;
        float: left;
        height: 40px;
        margin-bottom: 8px;
    }

    .form-content {
        clear: both;
    }

    .form-content h3 {
        color: #F04F23;
        padding: 0 !important;
        margin: 0 !important;
    }

    .form-content p {
        padding-left: 10px;
    }

    .left-label {
        color: black;
        font-size: 15px;
        float: left;
        margin-right: 0;
        width: 10%;
    }

    .left-text {

        float: left;
        width: 50%;
        height: 15px;
    }

    .right-label {
        color: black;
        font-size: 15px;
        float: left;
        width: 5%;
        padding-left: 2px;
    }

    .right-text {

        float: left;
        width: 35%;
        height: 15px;
    }

    .full-line-text {

        float: left;
        width: 100%;
        height: 15px;
        margin-bottom: 4px;
    }

    .left-label-2 {
        color: black;
        font-size: 15px;
        float: left;
        margin-right: 0;
        width: 30%;
    }

    .left-text-2 {

        float: left;
        width: 30%;
        height: 15px;
    }

    .right-label-2 {
        color: black;
        font-size: 15px;
        float: left;
        width: 20%;
        padding-left: 2px;
    }

    .right-text-2 {

        float: left;
        width: 20%;
        height: 15px;
    }

    .right-box {
        border: 2px solid black;
        float: left;
        width: 30%;
        height: 45px;
        margin-left: 10px;
    }

    .left-label-full {
        color: black;
        font-size: 15px;
        float: left;
        width: auto;
        padding-left: 2px;
    }

    .left-text-full {

        float: left;
        width: auto;
        height: 15px;
    }

    .next-page {
        height: 200px;
    }

    .row {
        border-bottom: 1px dotted darkgray;
        width: 100%;
        margin: 0 !important;
        padding: 2px !important;
    }

    .page-two .row {

        height: 20px;
    }

    .page-two h5 {
        margin: 2px !important;
        padding: 0 !important;
        display: inline;
    !important
    }

    .one-fourth {
        width: 25%;
        float: left;
        height: 20px;
    }

    .one-third {
        width: 33%;
        float: left;
        height: 20px;
    }

    .one-half {
        width: 50%;
        float: left;
        height: 20px;
    }

    .rotate {

        /* Safari */
        -webkit-transform: rotate(90deg);

        /* Firefox */
        -moz-transform: rotate(90deg);

        /* IE */
        -ms-transform: rotate(90deg);

        /* Opera */
        -o-transform: rotate(90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);

    }

    .property-check-tick {
        color: limegreen;
        margin-right: 0;
    }

    .property-check-cross {
        color: red;
        margin-right: 0;
    }

}