body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 48px;
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  color: #e94b0c;
  font-size: 35px;
  line-height: 46px;
  font-weight: 300;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30px;
}
h4 {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 0px;
  font-family:'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 0px;
  margin-bottom: 6px;
  font-family:'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}
a {
  width: auto;
  color: #0082f3;
  text-decoration: underline;
}
.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 11px 20px;
  background-color: #d6d6d6;
  color: black;
  text-align: center;
  text-decoration: none;
}
.button.display-block {
  display: block;
}
.back-to-dashboard {
  z-index: 10;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  background-color: #20916d;
  background-image: url('../images/ftu-arrow.png');
  background-position: 9px 9px;
  background-size: 28px;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.6);
}
.main-section {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 0px;
  border-top: 1px solid rgba(186, 188, 189, 0.8);
  border-bottom: 1px solid rgba(186, 188, 189, 0.8);
  background-color: #dae4e5;
}
.main-heading {
  margin-top: 0px;
  margin-bottom: 28px;
  font-family:'Open Sans', sans-serif;
  color: #252c37;
  font-size: 30px;
  line-height: 70px;
  font-weight: 400;
  text-align: left;
}
.main-subtitle {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 29px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}
.bold-text {
  font-weight: 400;
}
.section {
  padding-top: 0px;
  padding-bottom: 40px;
  border: 2px none rgba(37, 46, 55, 0.2);
  background-color: white;
}
.section.white {
  background-color: white;
}
.section-number {
  position: static;
  display: inline-block;
  margin-top: -2px;
  margin-right: 0px;
  padding: 13px 62px;
  float: none;
  border-radius: 6px;
  background-color: #eb4b5e;
  font-family:'Roboto Condensed', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.section-title-wrapper {
  text-align: center;
}
.example-wrapper {
  position: relative;
  margin-right: -10px;
  margin-bottom: 102px;
  margin-left: -10px;
  border: 1px solid #d6d6d6;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 2px 0px 0px;
}
.example-wrapper.center {
  text-align: center;
}
.example-wrapper.try-it-out {
  margin-bottom: 0px;
}
.example-wrapper.last {
  margin-bottom: 22px;
}
.example-wrapper.without-columns {
  padding: 100px 40px;
}
.subtitle {
  margin-bottom: 45px;
  font-family: Roboto, sans-serif;
  color: #252e37;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.subtitle.last {
  margin-bottom: 0px;
}
.example-title {
  display: inline-block;
  margin-bottom: 11px;
  padding-right: 8px;
  padding-left: 8px;
  text-transform: uppercase;
}
.entypo-icon {
  font-family:'Entypo Icons', sans-serif;
  font-size: 33px;
  line-height: 19px;
}
.right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.try-it-out-block {
  margin-top: 25px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #38d697;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px inset;
}
.try-it-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family:'Roboto Condensed', sans-serif;
  color: #6e57b3;
  font-size: 29px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.example-heading {
  margin-top: 62px;
  margin-bottom: -2px;
  padding: 11px 20px;
  border: 1px solid rgba(60, 65, 66, 0.09);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #e8eaeb;
  color: rgba(0, 0, 0, 0.72);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.image-1 {
  margin-right: 13px;
  float: left;
}
.example-text-left {
  width: 50%;
  padding-right: 20px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.34);
}
.example-text-right {
  width: 50%;
  padding-left: 20px;
  float: left;
}
.plan-wrapper {
  display: inline-block;
  width: 73%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #eae6f5;
  border-radius: 3px;
  text-align: center;
}
.plan-info {
  padding: 34px 24px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #eae6f5;
}
.plan-type {
  margin-top: 0px;
  margin-bottom: 33px;
  font-family:'Roboto Condensed', sans-serif;
  color: #6f629c;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
}
.price {
  margin-bottom: 34px;
  font-size: 53px;
  line-height: 58px;
  font-weight: 400;
}
.plan-description {
  margin-bottom: 0px;
  color: #6f629c;
}
.feature-list {
  padding: 15px 35px;
  font-family:'Open Sans', sans-serif;
  font-size: 15px;
}
.feature-item {
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 2px solid #eae6f5;
}
.feature-item.last {
  border-bottom-style: none;
}
.per-month {
  margin-left: 8px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
}
.glow {
  position: relative;
  margin: 8px;
  padding: 5px 1px;
  border: 2px solid #3baee3;
}
.glow.for-price-section {
  padding-top: 17px;
}
.glow.for-list-section {
  padding-top: 17px;
}
.blue-blocks {
  color: #66cfff;
}
.element-label {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  background-color: #3baee3;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 11px;
  line-height: 18px;
  text-transform: none;
}
.element-label.on-top {
  left: -2px;
  top: -18px;
}
.element-label.normal-flow {
  position: static;
}
.element-label.list-block {
  left: 8px;
  top: 1px;
  z-index: 2;
}
.list-block-wrapper {
  position: relative;
}
.label {
  position: absolute;
  left: -1px;
  top: -1px;
  display: inline-block;
  margin-top: -5px;
  margin-left: -5px;
  padding: 9px 15px;
  border-radius: 2px;
  background-color: #43484a;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0px, #2e3233 0px 2px 0px 0px;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  font-family:'Roboto Condensed', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.label.try-it {
  background-color: #6e57b3;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0px, #5b4796 0px 2px 0px 0px;
}
.left-column {
  padding: 100px 40px;
}
.left-column.border {
  border-right: 1px solid #d9d9d9;
}
.left-column.with-tip {
  padding-bottom: 130px;
}
.right-column {
  padding: 100px 40px;
}
.right-column.center {
  text-align: center;
}
.right-column.border {
  border-left: 1px solid #d9d9d9;
}
.right-column.with-tip {
  padding-bottom: 130px;
}
.button-style {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 25px;
  border: 2px solid #3b97e3;
  border-radius: 5px;
  background-color: rgba(59, 151, 227, 0.02);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 43%, rgba(38, 85, 120, 0.09) 54%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 43%, rgba(38, 85, 120, 0.09) 54%, rgba(255, 255, 255, 0));
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 1px;
  -webkit-transition: border 100ms ease, box-shadow 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
  transition: border 100ms ease, box-shadow 100ms ease, color 100ms ease, transform 100ms ease;
  color: #3b97e3;
  font-weight: 500;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.54) 0px 1px 0px;
}
.button-style:hover {
  border-color: #24bd8c;
  background-color: rgba(36, 189, 140, 0);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #24bd8c;
}
.button-style.solid-style {
  background-color: #3b97e3;
  color: white;
  text-shadow: none;
}
.button-style.solid-style:hover {
  border-color: #3baee3;
  text-shadow: none;
}
.button-style.red {
  border-color: #eb4b5e;
  color: #eb4b5e;
}
.tip-text {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px 12px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: #d6d6d6 0px 0px 0px 1px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}
.tip-title {
  padding: 1px 8px;
  background-color: transparent;
}
.field-style {
  height: 46px;
  margin-bottom: 26px;
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: black black #3b97e3;
  background-color: rgba(59, 151, 227, 0.09);
  -webkit-transition: border 100ms ease, background-color 100ms ease;
  transition: border 100ms ease, background-color 100ms ease;
  color: black;
}
.field-style:hover {
  border-bottom-color: black;
  background-color: rgba(0, 0, 0, 0.05);
}
.field-style:focus {
  border-bottom-color: black;
  background-color: transparent;
}
.label-style {
  margin-bottom: 9px;
  line-height: 17px;
  font-weight: 400;
}
.simple-button {
  display: inline-block;
  margin-right: 11px;
  padding: 10px 23px;
  border: 2px solid #3b97e3;
  border-radius: 5px;
  background-color: rgba(59, 151, 227, 0.09);
  -webkit-transition: border 500ms ease, color 500ms ease, background-color 500ms ease;
  transition: border 500ms ease, color 500ms ease, background-color 500ms ease;
  color: #3b97e3;
  text-decoration: none;
}
.simple-button:hover {
  border-color: black;
  background-color: transparent;
  color: black;
}
.simple-button.display-block {
  display: block;
  margin-bottom: 19px;
}
.success-style {
  padding: 20px 19px;
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
}
.top-bar {
  position: absolute;
  left: 0px;
  top: -1px;
  right: 0px;
  height: 3px;
  background-color: #43484a;
}
.top-bar.purple {
  background-color: #6e57b3;
}
.pre-heading {
  margin-bottom: 22px;
  font-family:'Roboto Slab', sans-serif;
  color: rgba(255, 255, 255, 0.84);
  font-size: 22px;
  line-height: 23px;
  font-weight: 300;
  text-align: center;
}
.divider {
  display: block;
  height: 1px;
  margin: 16px auto;
  border-top: 1px solid #ccc;
  border-bottom: 0px none #ccc;
}
.divider.black {
  width: 80%;
  margin-top: 36px;
  margin-bottom: 36px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.14);
  background-color: rgba(0, 0, 0, 0.1);
}
.type-wrapper-style {
  padding: 50px 20px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: #2e2c26;
  background-image: -webkit-radial-gradient(50% 0%, circle farthest-side, rgba(194, 179, 133, 0.29), rgba(194, 179, 133, 0));
  background-image: radial-gradient(circle farthest-side at 50% 0%, rgba(194, 179, 133, 0.29), rgba(194, 179, 133, 0));
  color: #c2b385;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.87) 0px 2px 0px;
}
.lakewood-title-style {
  margin-bottom: 24px;
  font-family: Oswald, sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
.lakewood-location-style {
  margin-bottom: 27px;
  font-family:'Great Vibes', cursive;
  color: white;
  font-size: 24px;
  line-height: 31px;
}
.beer-text-style {
  margin-bottom: 21px;
  font-family: Bitter, serif;
  font-size: 14px;
  line-height: 22px;
}
.beer-quote-style {
  margin-bottom: 13px;
  font-family: Bitter, serif;
  font-size: 22px;
  line-height: 27px;
  font-style: italic;
}
.lakewood-block {
  margin-bottom: 23px;
  padding: 50px 20px;
  background-color: #ededed;
  text-align: center;
}
.article-title-style {
  margin-bottom: 21px;
}
.article-wrapper-style {
  padding-top: 28px;
  padding-right: 28px;
  padding-left: 28px;
  border: 2px solid #d6d6d6;
  background-color: #f7f7f7;
  font-family: Bitter, serif;
}
.breaking-news-style {
  display: inline-block;
  margin-bottom: 17px;
  padding: 5px 8px;
  background-color: #e8384c;
  font-family:'Roboto Condensed', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.lakewood-title {
  margin-bottom: 28px;
}
.location-text {
  margin-bottom: 32px;
}
.description {
  margin-bottom: 19px;
}
.quote-style {
  margin-bottom: 12px;
}
.breaking-news {
  display: inline-block;
  background-color: #e8384c;
  color: white;
}
.article-text-style {
  margin-bottom: 25px;
}
.article-wrapper {
  margin-bottom: 47px;
  border: 2px solid #d6d6d6;
  background-color: #f7f7f7;
}
.block-paragraph {
  margin-bottom: 14px;
}
.link-block-example {
  display: inline;
  margin-right: 13px;
  margin-bottom: 7px;
  color: #3b97e3;
}
.link-block-example.block {
  display: block;
}
.basic-button {
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 12px;
  padding: 11px 14px;
  border-radius: 5px;
  background-color: #8fb9db;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px inset;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  color: white;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}
.basic-button:hover {
  background-color: #3b97e3;
}
.basic-button.display-block {
  display: block;
}
.basic-button.inlineblock {
  display: inline-block;
}
.basic-button.ib-example {
  display: block;
}
.image {
  display: block;
  margin-right: 10px;
  margin-bottom: 11px;
  padding: 7px;
  border: 1px solid #d6d6d6;
}
.image.inline-block {
  display: inline-block;
}
.button-group-block {
  margin-bottom: 20px;
}
.float-field-style {
  height: 50px;
  margin-bottom: 17px;
  border: 0px solid black;
  background-color: #e8e8e8;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 2px inset;
  -webkit-transition: background-color 500ms ease, box-shadow 500ms ease;
  transition: background-color 500ms ease, box-shadow 500ms ease;
}
.float-field-style:hover {
  background-color: #f7f7f7;
}
.float-field-style:focus {
  background-color: white;
  box-shadow: #2179c2 0px 0px 0px 2px inset;
}
.float-field-style.floated {
  width: 65%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.float-submit-style {
  height: 50px;
  background-color: #2179c2;
}
.float-submit-style.floated {
  width: 35%;
  margin-left: -2px;
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.float-this-block {
  width: 33.33%;
  padding: 10px;
  background-color: #e8e8e8;
}
.slider-class {
  height: 220px;
}
.iconz {
  position: absolute;
  left: 0px;
  bottom: 0%;
}
.ocpmzz {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.center-block-thingy {
  height: 140px;
}
.fake {
  width: 2000px;
}
.section-example {
  position: relative;
  margin-bottom: 70px;
  padding: 70px;
  border: 1px solid #d6d6d6;
  background-color: white;
  text-align: center;
}
.container-style {
  position: relative;
  margin-bottom: 0px;
  padding: 0px 0px 70px;
  border: 1px none #d6d6d6;
  background-color: white;
  text-align: center;
}
.container-style.last {
  margin-bottom: 0px;
}
.row-example {
  margin-bottom: 35px;
}
.emphasis {
  font-style: italic;
}
.big-number {
  position: relative;
  top: -2px;
  display: inline-block;
  margin-right: 14px;
  -webkit-transform: scale(2) rotate(-4deg);
  -ms-transform: scale(2) rotate(-4deg);
  transform: scale(2) rotate(-4deg);
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.arrow {
  display: inline-block;
  -webkit-transform: rotate(173deg) scale(1.59);
  -ms-transform: rotate(173deg) scale(1.59);
  transform: rotate(173deg) scale(1.59);
}
.image-wrapper {
  display: block;
  height: 225px;
  margin-bottom: 18px;
  border: 7px solid white;
  background-image: url('../images/awhCbhLqRceCdjcPQUnn_IMG_0249-bw.jpg');
  background-size: cover;
  background-attachment: scroll;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}
.image-wrapper.relative {
  position: relative;
}
.photo-caption {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.54);
  color: white;
}
.photo-caption.absolute {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.featured-badge {
  display: inline-block;
  padding: 4px 7px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #eb4b5e;
  box-shadow: #ad3745 0px 1px 0px 0px;
  color: white;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}
.featured-badge.absolute {
  position: absolute;
  top: 17px;
  right: -8px;
}
.round-button {
  display: inline-block;
  padding: 11px 19px;
  border-radius: 30px;
  background-color: #3b97e3;
  -webkit-transition: background-color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease;
  color: white;
  text-decoration: none;
}
.round-button:hover {
  background-color: #52b1ff;
  -webkit-transform: scale(1.14) rotate(-7deg);
  -ms-transform: scale(1.14) rotate(-7deg);
  transform: scale(1.14) rotate(-7deg);
}
.round-button.success {
  background-color: #28c996;
}
.round-button.success:hover {
  background-color: #2de0a8;
}
.round-button.danger {
  background-color: #eb4b5e;
}
.round-button.danger:hover {
  background-color: #f26b7a;
}
.responsive-heading {
  font-size: 51px;
  line-height: 53px;
}
.fix-heading {
  font-size: 51px;
  line-height: 53px;
}
.responsive-button {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 3px;
  background-color: #28c996;
  color: white;
  text-decoration: none;
}
.styled-paragraph {
  margin: 5px;
  padding: 10px;
  background-color: rgba(59, 151, 227, 0.27);
}
.text-wrapper {
  margin: 8px;
  padding: 10px;
  background-color: rgba(59, 151, 227, 0.29);
}
.help-wrapper {
  margin-bottom: 25px;
  padding: 35px 24px;
  border: 1px solid #d6d6d6;
  background-color: white;
  text-align: center;
}
.help-link {
  display: inline-block;
  border-bottom: 1px solid #3b97e3;
  color: #3b97e3;
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
}
.help-link:hover {
  border-bottom-color: #002e42;
  color: #002e42;
}
.help-title {
  margin-top: 6px;
  margin-bottom: 7px;
  font-size: 28px;
  font-weight: 400;
}
.navbar {
  width: 1140px;
  padding-top: 0px;
  border-bottom: 1px none black;
  background-color: transparent;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  font-family:'Open Sans', sans-serif;
  text-transform: uppercase;
}
.navbar-container {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: white;
}
.breadcrumbs {
  margin-top: -73px;
  margin-right: 0px;
  float: right;
  color: #777;
  font-size: 12px;
}
.breadcrumb-link {
  color: #777;
  text-decoration: none;
}
.breadcrumb-link.w--current {
  color: #777;
  text-decoration: none;
}
.columns {
  padding-right: 15px;
  padding-left: 15px;
}
.titlestyle1 {
  padding-top: 31px;
  padding-bottom: 20px;
}
.titlestyle1.titlestyle2 {
  min-height: 85px;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}
.how-to-button {
  width: 100%;
  margin-top: -1px;
  padding-left: 0px;
  border-style: solid none;
  border-width: 1px 0px;
  border-color: #ccc #eee #ccc black;
  background-color: transparent;
  font-family:'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
  text-align: left;
}
.how-to-button:hover {
  color: #eb3c1a;
}
.navlink {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px none black;
  line-height: 45px;
}
.navlink:hover {
  color: #428bca;
}
.navlink.signup {
  margin-top: 22px;
  margin-left: 15px;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #ed4c20;
  color: white;
  line-height: 30px;
}
.logo {
  width: 180px;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
}
.menulink.w--current {
  color: black;
  text-decoration: none;
}
.droplink {
  position: static;
  left: -180px;
  padding: 8px 0px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.61);
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: none;
}
.droplink:hover {
  color: white;
}
.droplink:active {
  color: #428bca;
}
.dropdown-menu {
  top: 0px;
  bottom: 0px;
  line-height: 45px;
}
.dropdown-menu:hover {
  color: #428bca;
}
.dropdown-menu.w--open {
  top: 0px;
  padding-bottom: 20px;
  line-height: 44px;
}
.megarow {
  top: 84px;
  width: 1140px;
  margin-left: -532px;
  padding: 20px 29px 25px;
  background-color: #252e37;
}
.megarow.w--open {
  top: 84px;
  width: 1140px;
  margin-left: -532px;
  padding: 20px 29px 25px;
  background-color: #252e37;
}
.megatitle {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.37);
  color: #ed4c20;
  text-transform: none;
}
.call-to-action-box {
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: #252e37;
}
.call-to-action-text {
  position: static;
  display: block;
  margin-top: 9px;
  padding-right: 16px;
  color: white;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
  text-align: right;
}
.call-to-action-button {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  border-radius: 3px;
  background-color: #ed4c20;
  color: white;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
.call-to-action-button:hover {
  background-color: #ed4c20;
  opacity: 0.65;
}
.call-to-action-button.slider-button {
  width: 350px;
}
.heading-left {
  font-size: 33px;
  line-height: 40px;
  text-align: left;
}
.heading-left.heading-left-no-pad {
  margin-top: 0px;
}
.sidebar-title {
  margin-bottom: 14px;
  padding-right: 15px;
  padding-left: 10px;
  font-family:'Open Sans', sans-serif;
  color: #ed4c20;
  font-size: 21px;
  text-align: left;
}
.sidebar-title.sidebar-title2 {
  font-size: 18px;
}
.sidebar-box {
  margin-top: 118px;
  padding: 20px 10px;
  border: 2px solid rgba(37, 46, 55, 0.2);
  border-radius: 5px;
  background-color: transparent;
}
.sidebar-list {
  padding-left: 30px;
  font-family:'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  list-style-type: square;
}
.sidebar-list.sidebar-list2 {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  line-height: 22px;
}
.sidebar-list.sidebar-list2.sidebar-list-white {
  color: rgba(255, 255, 255, 0.7);
}
.orange-strip {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ed4c20;
}
.orange-strip-title {
  padding-top: 20px;
  padding-bottom: 19px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 33px;
  line-height: 40px;
  font-weight: 300;
}
.orange-strip-title.orange-title-strip-small {
  padding-top: 20px;
  padding-bottom: 11px;
  padding-left: 0px;
  font-size: 24px;
}
.orange-strip-text {
  padding-right: 40px;
  padding-bottom: 40px;
  color: rgba(255, 255, 255, 0.69);
  font-weight: 400;
}
.orange-strip-button {
  padding-left: 0px;
  border-top: 1px dotted rgba(255, 255, 255, 0.36);
  border-bottom: 1px none rgba(255, 255, 255, 0.36);
  background-color: transparent;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 15px;
}
._4column-title {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  font-family:'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 28px;
}
._4column-title._4column-title2 {
  padding-bottom: 38px;
}
._4column-title._4column-title3 {
  padding-top: 30px;
}
._4column-title.no-bottom-border {
  margin-bottom: 0px;
  border-bottom: 1px none black;
}
._4column-box {
  padding-top: 60px;
  padding-bottom: 60px;
}
._4column-box._4column-box2 {
  padding-top: 40px;
}
._4column-box._4column-box3 {
  padding-top: 0px;
  padding-bottom: 40px;
}
.container-top-border {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
}
.important-title {
  display: inline;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}
.important-title.important-title2 {
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  font-weight: 300;
}
.page-container1 {
  margin-top: 50px;
  padding-bottom: 40px;
}
.intro-paragraph {
  padding-bottom: 35px;
}
.orange-intro-text {
  margin-bottom: 0px;
  padding-bottom: 22px;
  font-family:'Open Sans', sans-serif;
  color: #f04f23;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}
._2column-box {
  padding-bottom: 40px;
}
.paragraph-padded {
  padding-bottom: 33px;
}
._4column-title4 {
  padding-bottom: 8px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.21);
  font-size: 19px;
}
._40-padding {
  height: 40px;
}
._20-padding {
  height: 20px;
}
.orangestrip2 {
  padding-bottom: 17px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 23px;
}
.sidebar-subtitle {
  padding-left: 10px;
  line-height: 24px;
}
.sidebar-box2 {
  margin-top: 45px;
  padding: 30px 20px;
  border: 2px solid rgba(37, 46, 55, 0.2);
  border-radius: 5px;
}
.paragraph-left-pad {
  padding-left: 10px;
}
.page {
  margin-top: -17px;
}
.questions {
  font-size: 20px;
  line-height: 28px;
}
.step-title {
  padding-top: 11px;
}
.video-background {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 540px;
  background-image: url('../images/WeSell-homepage.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-box {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}
.slider-title {
  font-size: 44px;
  line-height: 50px;
  font-weight: 400;
}
.slider-text {
  font-size: 34px;
  line-height: 39px;
  font-weight: 300;
}
.slider-text.orange {
  padding-top: 10px;
  color: #ed4c20;
  font-size: 29px;
  font-weight: 400;
  text-align: center;
}
._10-padding {
  height: 10px;
}
.slider-left-column {
  padding-right: 30px;
  padding-left: 60px;
}
.slider-right-column {
  padding-right: 60px;
}
@media (max-width: 991px) {
  .subtitle {
    font-size: 15px;
  }
  .plan-wrapper {
    width: auto;
  }
  .left-column {
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .left-column.with-tip {
    padding-bottom: 50px;
  }
  .right-column {
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .right-column.border.with-tip {
    padding-bottom: 50px;
  }
  .tip-text {
    position: static;
    margin-top: 35px;
  }
  .responsive-heading {
    font-size: 39px;
    line-height: 43px;
  }
  .responsive-button.fixed {
    padding: 14px 20px;
  }
  .responsive-button.fixed.w--current {
    padding: 12px;
  }
  .navbar {
    width: 100%;
    height: 80px;
  }
  .logo {
    padding-left: 10px;
  }
  .title1-mobile.title1-mobile2 {
    font-size: 19px;
  }
  .title1-mobile.title1-mobile2.title1-ipad {
    font-size: 17px;
  }
  .title1-mobile.title1-mobile3 {
    font-size: 19px;
  }
  .title1-mobile.title1-mobile3.title1-ipad {
    font-size: 17px;
  }
  .call-to-action-text {
    font-size: 36px;
  }
  .call-to-action-button {
    padding-right: 75px;
    padding-left: 75px;
  }
  .call-to-action-button.slider-button {
    width: 259px;
    margin-top: 42px;
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 33px;
  }
  p {
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-section {
    width: 103%;
  }
  .main-heading {
    margin-right: 30px;
    padding-top: 11px;
    padding-right: 0px;
    padding-left: 20px;
    line-height: 35px;
  }
  .section {
    width: 103%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .subtitle {
    font-size: 14px;
  }
  .example-title {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  .right-border {
    padding-bottom: 46px;
    border-right-style: none;
  }
  .left-column {
    padding-bottom: 50px;
  }
  .left-column.border {
    border-bottom: 1px solid #d9d9d9;
    border-right-style: none;
  }
  .right-column {
    padding-bottom: 50px;
  }
  .right-column.border.with-tip {
    border-top: 1px solid #d9d9d9;
    border-left-style: none;
  }
  .responsive-heading {
    font-size: 33px;
    line-height: 40px;
  }
  .navbar {
    width: 100%;
    height: 80px;
  }
  .breadcrumbs {
    margin-top: -56px;
    margin-right: 20px;
  }
  .how-to-button.button-pad {
    margin-bottom: 45px;
  }
  .title1-mobile {
    width: 90%;
    height: auto;
    margin-top: -34px;
    float: right;
  }
  .call-to-action-box {
    width: 102%;
    margin-right: 0px;
  }
  .call-to-action-text {
    padding-right: 0px;
    text-align: center;
  }
  .call-to-action-button {
    display: block;
    width: 400px;
    margin-top: 17px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
    text-align: center;
  }
  .call-to-action-button.slider-button {
    margin-top: 2px;
  }
  .heading-left {
    font-size: 30px;
    line-height: 35px;
  }
  .orange-strip {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-top-border {
    padding-right: 20px;
    padding-left: 20px;
  }
  .important-title {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 0px;
    line-height: 28px;
  }
  ._2column-box {
    width: 102%;
  }
  .padded-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .slider-box {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .slider-title {
    text-align: center;
  }
  .slider-text {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .slider-left-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .slider-right-column {
    padding-right: 10px;
  }
}
@media (max-width: 479px) {
  h2 {
    line-height: 41px;
  }
  h4 {
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center;
  }
  .main-heading {
    font-size: 25px;
    line-height: 30px;
  }
  .responsive-heading {
    font-size: 30px;
    line-height: 34px;
  }
  .navbar {
    width: 100%;
    height: 80px;
  }
  .breadcrumbs {
    display: none;
  }
  .title1-mobile.title1-mobile2 {
    width: 82%;
    margin-top: -41px;
    text-align: left;
  }
  .title1-mobile.title1-mobile3 {
    width: 82%;
    margin-top: -54px;
    text-align: left;
  }
  .call-to-action-text {
    padding-right: 40px;
    padding-left: 40px;
  }
  .call-to-action-button {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .call-to-action-button.slider-button {
    margin-top: 18px;
  }
  .heading-left {
    font-size: 28px;
    line-height: 33px;
  }
  .slider-text.orange {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 28px;
    line-height: 33px;
  }
}

@font-face {
  font-family: 'Entypo Icons';
  src: url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}