.oos-container {
    min-height: 800px;
    width: 750px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 1;
}

.first-header {
    font-weight: bold;
    height: 60px;
    background-color: #2D343A;
    text-align: center;
    color: white;
    padding-top: 1px;
    letter-spacing: -1px;
}

.second-header {
    font-weight: bold;
    height: 60px;
    background-color: #E73420;
    text-align: center;
    color: white;
    padding-top: 1px;
    letter-spacing: -1px;
}

.oos-list {
    padding: 50px 30px;
}

.oos-list p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    color: black;
    letter-spacing: 1px;
}

.oos-footer img {
    bottom: 0;
    margin-left: -5%;
    width: 110%;
    height: auto;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-1 {
    width: 8.33333333%;
}

@media print {

    @page {
        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    .oos-container {
        min-height: 800px;
        width: 750px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        line-height: 1;
    }

    .first-header {
        font-weight: bold;
        height: 60px;
        background-color: #2D343A;
        text-align: center;
        color: white;
        padding-top: 1px;
        letter-spacing: -1px;
    }

    .second-header {
        font-weight: bold;
        height: 60px;
        background-color: #E73420;
        text-align: center;
        color: white;
        padding-top: 1px;
        letter-spacing: -1px;
    }

    .oos-list {
        padding: 50px 30px;
    }

    .oos-list p {
        font-weight: 400;
        font-size: 16px;
        margin-top: 15px;
        color: black;
        letter-spacing: 1px;
    }

    .oos-footer img {
        margin-bottom: 0;
        margin-left: -5%;
        width: 110%;
        height: auto;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }
}